/* HTML Elements
------------------------------------------------------------------------------ */
html {
	overflow-y: scroll;
}

body {
	margin: 20px;
	padding: 50px 0 0 0;
	color: #777;
	font-size: 20px;
	line-height: 30px;
}

p, ul, ol {
	margin-bottom: 30px;
}

ul, ol {
	list-style: square inside;
}



/* /* Typography */
/* ------------------------------------------------------------------------------ */ */
li {} /* required to make bootstrap override work */
li { line-height: 34px; }



/* Dropdown Menu Overrides
------------------------------------------------------------------------------ */
.navbar-fixed-top {
	position: fixed;
	width: 99.5%;
	margin: 0 auto;
}

.nav, .navbar {
	line-height: 20px;
	font-size: 14px;
}

.nav li.dropdown:hover > ul.dropdown-menu { /* Make dropdown menu work on hover */
  /* display: block; */
}

.navbar li > .dropdown-menu { /* Pull up menu so hover works better. */
	top: 35px;
	left: -50px;
}

.navbar .pull-right > li > .dropdown-menu { /* Pull up menu so hover works better. */
	/* top: 28px; */
}

.navbar .nav > li > .dropdown-menu:before {
  display: none;
}

.navbar #left-menu > li > .dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 120px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.navbar .pull-right > li > .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right {
  right: 0;
  left: auto;
}



/* Accordion Styles
------------------------------------------------------------------------------ */
.accordion-group {
	margin: 0 0 20px 0;
}

.accordion-group h2 {
	margin: 0;
}

.accordion-toggle:hover {
	text-decoration: none;
}

#accordion .btn-block {
	color: #08c;
	text-align: left;
	text-indent: 20px;
}

.accordion-inner {
 border:  none;
 padding: 30px 20px;
 overflow: hidden;
}



/* Fix SyntaxHighlighter Bootstrap Conflicts
------------------------------------------------------------------------------ */
div.syntaxhighlighter .container:before,div.syntaxhighlighter .container:after {
	content:none;
}


/* Career Opportunities Section
------------------------------------------------------------------------------ */
#career-focus .tab-content {
	min-height: 320px;
	padding: 22px;
	position: relative;
}

#career-focus #skill-set hgroup h4 {
	font-weight: normal;
	color: #ddd;
}

#career-focus .thumbnail {
	/* height: 420px; */
	overflow: hidden;
	text-align: center;
}

#career-focus .thumbnail .btn {
	/* float: right; */
	margin: 20px;
}

#career-focus .thumbnail img {
	width: 100%;
}






/* Definition List Horizontal Styling
------------------------------------------------------------------------------ */
.dl-horizontal dt, .dl-horizontal dd {
	font-size: 16px;
	margin-top: 20px;
}

.dl-horizontal dt {
	width: 180px;
}

.dl-horizontal dd {
	font-size: 16px;
	margin-left: 200px;
}



/* Featurette Styling
------------------------------------------------------------------------------ */
.featurette-heading {
	font-size: 50px;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}



/* Misc Styles
------------------------------------------------------------------------------ */
.tip, .recommendation {
	margin: 20px 0;
}

.tip {
	color: green;
}

.instruction {
	margin: 20px 0;
	cursor: auto;
}

.popover-content {
	font-size: 80%;
	line-height: 1.5em;
}

.popover-inner {
	width: 420px;
}

#instruction-alert .instruction {
	margin: 0;
}

#instruction-alert .close {
	top: 5px;
}

img.pull-right {
	margin-left: 30px;
	margin-bottom: 30px;
}

img.pull-left {
	margin-right: 30px;
	margin-bottom: 30px;
}

img.img-circle {
	border: 1px solid #eee;
}

.important strong {
	color: #b94a48;
	font-weight: normal;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}



/* Resonsive Styles
------------------------------------------------------------------------------ */
@media (max-width: 767px) {
	#accordion .span4 {
		width: 70%;
		margin: 0 auto 20px auto;
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	#accordion .span4 {
		width: 30.1%;
	}
}

@media (min-width: 1200px) {
	#accordion .span4 {
		width: 30.7%;
	}

	.lead p {
		width: 650px;
	}
}


@media (max-width: 979px) {
	.featurette-image.pull-left, .featurette-image.pull-right {
		display: block;
		float: none;
		max-width: 99%;
		margin: 0 auto 30px;
	}
}
