
nav {
	min-height: 80px;
	xbackground: #333;'
}

header {
	border: 1px solid red;
	min-height: 300px;
	text-align: center;
	xbackground: #e7e7e7;
	padding: 30px 0;
}

div.inner-content {
	width: 960px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}

#trilogy {
	min-height: 400px;
	xbackground: #333;
	padding-top: 40px;
}

#trilogy section {
	border: 1px solid #000;
	height: 300px;
	width: 300px;
	background: #E44D26;
	float: left;
}

#trilogy section.middle {
	margin: 0 27px;
}

footer {
	background: #111;
	min-height: 300px;
	color: #fff;
}

footer p {
	margin: 0;
	padding-top: 20px;
}

#background {
	background: url(../img/jamaica.jpeg);
}