
body {
	xbackground: #000; 
}

header {
	height: 160px;
	background: #000;
}

header img {
	margin: 0 0 0 10px;
}

header nav {
	width: 600px;
	float: right;
	margin: 25px 60px 0 0;
	xborder: 1px solid orange;
}

header nav li {
	display: inline;
}

header nav li a {
	text-decoration: none;
	font-size: 24px;
	color: #959595;
	padding-right: 20px;
}

#main-content {
	background: url(../img/nfscrash.jpg);
	min-height: 800px;
}

#main-content h1 { color: yellow; }
#main-content h2 { color: #fff; }
#main-content h3 { color: #bdc2c2; }

#main-content hgroup {
	text-align: center;
}

#main-content .tinted-bg {
	background: rgba(160,95,34,0.71);
}

#main-content img {
	float: left;
	margin-right: 20px;
}

#main-content p {
	font-size: 20px;
	color: #fff;
	line-height: 30px;
}

footer {
	height: 400px;
	background: #000;
}

footer p {
	margin-top: 0;
	color: #fff;
	float: right;
}


.centered-content {
	width: 960px;
	margin: 0 auto;
	padding: 20px;
}